[project]
	description = The recipe...
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ken greenwood (InkSlinger666)
[access "refs/for/refs/*"]
	read = group user/ken greenwood (InkSlinger666)
	push = group user/ken greenwood (InkSlinger666)
	label-Code-Review = -2..+2 group user/ken greenwood (InkSlinger666)
	label-Verified = -1..+1 group user/ken greenwood (InkSlinger666)
	rebase = group user/ken greenwood (InkSlinger666)
	removeReviewer = group user/ken greenwood (InkSlinger666)
	submit = group user/ken greenwood (InkSlinger666)
[access "refs/heads/*"]
	read = group user/ken greenwood (InkSlinger666)
	create = group user/ken greenwood (InkSlinger666)
	push = +force group user/ken greenwood (InkSlinger666)
	pushMerge = group user/ken greenwood (InkSlinger666)
[access "refs/tags/*"]
	push = +force group user/ken greenwood (InkSlinger666)
	pushTag = group user/ken greenwood (InkSlinger666)
	pushSignedTag = group user/ken greenwood (InkSlinger666)
